/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header,
footer {
}
.calculator {
  width: 500px;
  height: 600px;
  background-color: black;
  border-radius: 7%;
  margin-top: 10%;
  margin-left: 20%;
}
.button {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 800px) {
  section {
    background: blue;
  }
}
